<section id="contato" class="cta-section">
    <div class="cta-container">

        <!-- shapes -->
        <div class="radial"></div>
        <div class="blur-shape"></div>

        <div class="content">
            <h2>
                ESTÁ <br />
                PRONTO?
            </h2>

            <p>
                Sincronize sua visão com minha engenharia e vamos construir algo que mude o jogo.
            </p>
        </div>

        <div class="actions">
            <a href="mailto:heitorzelbato@gmail.com" class="btn primary">
                Iniciar Protocolo
                <lucide-icon [name]="terminal" [size]="20"></lucide-icon>
            </a>

            <button (click)="openChat()"  class="btn secondary">
                IA Assistente
                <lucide-icon [name]="brain" [size]="20"></lucide-icon>
            </button>
        </div>

    </div>
</section>